.tomato{
    background-color:Tomato ;
}
.orange{
    background-color:orange;
}
.dodgerblue{
    background-color:dodgerblue;
}
.mediumseagreen{
    background-color:mediumseagreen;
}
.gray{
    background-color:gray;
}
.slateblue{
    background-color:slateblue;
}
.violete{
    background-color:violet;
}
.lightgray{
    background-color:slategray;
}
